.container{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: greenyellow;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.timerValue ,
.startTimer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    height: 100%;
}

.stopTimer ,
.pauseTimer ,
.resumeTimer{
    margin: 25px;
    font-size: 20px;
}
